<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Space</title>
    <!-- LINK CSS STYLESHEET FOR LATER -->
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <!-- HEADER WITH AUTH -- copy to every page once this image is figured out -->
    <div class="header">
        <!-- TODO: This image doesn't work -->
        <img src="/makersbnb_routes_ticket/static/makers_logo_test.png" alt="Makers Logo">
        <a class="spaces_link" href="/spaces">Spaces</a>
        <a class="requests_link" href="/requests">Requests</a>
        <a class="sign_out_link" href="/signout">Sign out</a>
    </div>
    <!-- HEADER WITH AUTH-->


    <!-- BOOK A SPACE -->
    <div class="airbnb_copy">
        <h1 class="airbnb_copy_slogan">Book a Space</h1>

    </div>
    <!-- BOOK A SPACE -->

    <!-- List A Space button - centrally centred -->
    <div><a class="list_space_link" href="/spaces/new">List A Space</a></div>


    <!-- Available From form (limit input to dates?) +  Available To form (limit input to dates?)  +   List Spaces button (POST) -->

    <form action="/spaces" method="post">
        <p>
        <label for="DateFrom">Available From:</label>
        <input type="date" name="date_from" id="date_from">
        <label for="DateTo">Available To:</label>
        <input type="date" name="date_to" id="date_to">
        <!-- <label for="listspacesavailable">List Spaces Available</label> -->
        <input type="submit" value="List Spaces">
        </p>
    </form>


    <!-- For loop of spaces available in those dates
        - begins will all spaces
        - POST filters spaces to dates selected        
        - each space in the list takes you to a new confirmation page  -->

        <!-- TODO filtering of relevant spaces-->
    {% for space in spaces %}
    <article>
        <h2 class="t-title">{{space.title}}</h2>
        <p class="t-content">{{space.description}}</p>
    </article>
    {% endfor %}

</body>
</html>