<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Spaces | Makersbnb</title>
    <!-- LINK CSS STYLESHEET FOR LATER -->
    <link rel="stylesheet" href="/style.css" />
    
    <!-- CALENDER STYLE AND SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css"> <!-- FullCalendar styles -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script> <!-- FullCalendar script -->

</head>
<body>
    <!-- HEADER -- copy to every page once this image is figured out -->
    <div class="header">
        <!-- TODO: This image doesn't work -->
        <img src="/makersbnb-python-seed/static/makers_logo.png" alt="Makers Logo">
        <a class="about_link" href="/about">About</a>
        <a class="login_link" href="/login">Login</a>
    </div>
    <!-- HEADER -->

    <!-- Single Space Copy -->
    <div class="single_space_copy">
        <h1 class="single_space_title">{{ listing.title }}</h1>
        <p class="single_space_description">
            {{ listing.description }}
        </p>
        <h3 class="single_space_price">
            £{{ listing.price }} per night
        </h3>
    </div>
    <!-- Single Space Copy -->

    <br>
    <br>

    <!-- CALENDAR -->
    <div id="calendar" style="width: 40%; height: 30%;"></div>

    <form method="post">
        <select name="selected_date">
            <option value="" disabled selected>Select a Date</option>
            {% for date in free_dates %}
                <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
        </select>
        <button type="submit">Request to Book Selected Date</button>
    </form>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var today = new Date();
            today.setHours(0, 0, 0, 0);
    
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                validRange: {
                    start: today.toISOString(),
                    end: '9999-12-31'
                },
                events: [
                // booked dates -- unavailable
                {% for date in booked_dates %}
                {
                    title: 'Booked',
                    start: '{{ date }}',
                    end: '{{ date }}',
                    color: 'gray'
                },
                {% endfor %}

                {% for date in free_dates %}
                {
                    title: 'Available',
                    start: '{{ date }}',
                    end: '{{ date }}',
                    color: 'green'
                },
                {% endfor %}
            ],
            dateClick: function(info) {
                var selectedDate = info.date.toISOString().split('T')[0];
                document.getElementById('selected_date').value = selectedDate;
                document.getElementById('dateForm').submit();
            },
            displayEventTime: false // Remove event time
            });
            calendar.render();
        });
    </script>
    <!-- CALENDAR -->


    
    

    
</body>
</html>