<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- LINK CSS STYLESHEET FOR LATER -->
    <link rel="stylesheet" href="/style.css" />

</head>
<body>
<!-- HEADER -- copy to every page once this image is figured out -->
    <div class="header">
        <!-- TODO: This image doesn't work -->
        <img src="/makersbnb_routes_ticket/static/makers_logo_test.png" alt="Makers Logo">
        <a class="about_link" href="/about">About</a>
        <a class="login_link" href="/login">Login</a>
    </div>
<!-- HEADER -- copy to every page once this image is figured out -->


<!-- PROJECT ABOUT -->
    <div class="Project About">
        
        <h1 class="makers_bnb">Makers Bnb</h1>

        <!-- TODO: LOGO: This image doesn't work -->
        <img src="/makersbnb_routes_ticket/static/makers_logo_test.png" alt="Makers Logo">

        <p class="makers_bnb_about_text">
            Makersbnb is the first group project on Software Engineering Fundamentals at <a class="makers_link" href="https://makers.tech">Makers Academy</a>.<br>
            This project aims to demonstrate the ability to create a full-stack web application with a relational database, working asynchronously in teams.<br>
            <br>
            <a class="project_brief" href="https://github.com/makersacademy/engineering-project-1"><b>Project Brief</b></a>
            <a class="project_github" href="https://github.com/DANKRUSZ/makersbnb-python-seed"><b>Project Brief</b></a>
            <br>
            <br>
            Project by: David, Daniel, Onoura, Claire <!-- TODO: link names with individual githubs -->
        </p>
        <!-- <p>Tech used:</p>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>PostgreSQL</li>
            <li>psycopg</li>
            <li>Git</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul> -->
    </div>
<!-- PROJECT ABOUT -->




    
    

    
</body>
</html>